<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>茉莉</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.0</string>
	<key>CFBundleVersion</key>
	<string>312</string>
	<key>NSCameraUsageDescription</key>
	<string>拍照的照片用于设置个人头像</string>
	<key>NSContactsUsageDescription</key>
	<string>请点击”好”以允许访问您的通讯录，来邀请好友</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.message-payload-provider</string>
		<key>NSExtensionPrincipalClass</key>
		<string>StickerBrowserViewController</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>以便于推荐附近更加优质的内容</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要在录音的过程中使用您的麦克风，以便录入您的声音。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>用于从相册选择照片设置个人头像</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用于从相册选择照片设置个人头像</string>
</dict>
</plist>
