<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listIntegralExplain</key>
	<array>
		<string>· 用户默认起始信用分为100分，最低信用分为0分</string>
		<string>· 分数越高，代表用户的行为越符合茉莉社区的规范</string>
		<string>· 分数越低，代表用户曾发布过违规的内容</string>
		<string>· 信用分为100时不再增长</string>
		<string>· 信用分降为0时，该用户的账号将被封停</string>
	</array>
	<key>listIntegralIncrease</key>
	<array>
		<dict>
			<key>actionType</key>
			<string>每日签到</string>
			<key>conditionBasic</key>
			<string>信用分+1</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>主帖被加为精华</string>
			<key>conditionBasic</key>
			<string>信用分+3</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>回复被评为神回复</string>
			<key>conditionBasic</key>
			<string>信用分+2</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>分享帖子到社交平台</string>
			<key>conditionBasic</key>
			<string>信用分+1</string>
			<key>type</key>
			<string>1</string>
		</dict>
	</array>
	<key>listIntegralInfoConfig</key>
	<array>
		<dict>
			<key>actionType</key>
			<string>低于90分</string>
			<key>conditionBasic</key>
			<string>无法提现</string>
			<key>dataType</key>
			<string>not_deposit</string>
			<key>num</key>
			<integer>90</integer>
			<key>type</key>
			<string>3</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>低于60分</string>
			<key>conditionBasic</key>
			<string>无法发送私信</string>
			<key>dataType</key>
			<string>not_user_msg</string>
			<key>num</key>
			<integer>60</integer>
			<key>type</key>
			<string>3</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>低于20分</string>
			<key>conditionBasic</key>
			<string>无法发送主帖、回复</string>
			<key>dataType</key>
			<string>not_add_story_comment</string>
			<key>num</key>
			<integer>20</integer>
			<key>type</key>
			<string>3</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>0分</string>
			<key>conditionBasic</key>
			<string>封停账号</string>
			<key>dataType</key>
			<string>closure_account</string>
			<key>num</key>
			<integer>0</integer>
			<key>type</key>
			<string>3</string>
		</dict>
	</array>
	<key>listIntegralInfoReduce</key>
	<array>
		<dict>
			<key>actionType</key>
			<string>内容因「内容表意不明」被删除</string>
			<key>conditionBasic</key>
			<string>信用分-1</string>
			<key>num</key>
			<integer>0</integer>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>内容因「内容噪音过大」被删除</string>
			<key>conditionBasic</key>
			<string>信用分-2</string>
			<key>num</key>
			<integer>1</integer>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>内容因「含垃圾广告信息」「含政治敏感信息」「含低俗色情内容」「含侮辱性词汇」被删除</string>
			<key>conditionBasic</key>
			<string>信用分-5</string>
			<key>num</key>
			<integer>2</integer>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>一天内发布违规内容被删除过2次，再次发布违规内容被删除</string>
			<key>conditionBasic</key>
			<string>信用分扣分
提升4倍</string>
			<key>num</key>
			<integer>3</integer>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>一周内发布违规内容被删除过10次，再次发布违规内容被删除</string>
			<key>conditionBasic</key>
			<string>信用分扣分
提升8倍</string>
			<key>num</key>
			<integer>4</integer>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>actionType</key>
			<string>三个月内发布违规内容被删除过50次，再次发布违规内容被删除</string>
			<key>conditionBasic</key>
			<string>信用分扣为0</string>
			<key>num</key>
			<integer>5</integer>
			<key>type</key>
			<string>2</string>
		</dict>
	</array>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
