<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arraylist</key>
	<array>
		<dict>
			<key>createTime</key>
			<integer>1509357168000</integer>
			<key>id</key>
			<integer>18</integer>
			<key>platform</key>
			<string></string>
			<key>problem</key>
			<string>茉莉社区新手指南</string>
			<key>sort</key>
			<integer>3</integer>
			<key>type</key>
			<integer>1</integer>
			<key>updateTime</key>
			<integer>1510568926000</integer>
			<key>url</key>
			<string>http://index.yourmoli.com//newmoli/views/app/video/basicCourse.html</string>
		</dict>
		<dict>
			<key>createTime</key>
			<integer>1509357211000</integer>
			<key>id</key>
			<integer>19</integer>
			<key>platform</key>
			<string></string>
			<key>problem</key>
			<string>如何发帖和回帖？</string>
			<key>sort</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
			<key>updateTime</key>
			<integer>1510569064000</integer>
			<key>url</key>
			<string>http://index.yourmoli.com//newmoli/views/app/video/basicCourse.html</string>
		</dict>
		<dict>
			<key>createTime</key>
			<integer>1511147926000</integer>
			<key>id</key>
			<integer>22</integer>
			<key>platform</key>
			<string></string>
			<key>problem</key>
			<string>提现异常问题帮助教程</string>
			<key>sort</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
			<key>updateTime</key>
			<integer>1511147926000</integer>
			<key>url</key>
			<string>http://index.yourmoli.com//newmoli/views/app/video/withdrawalsError.html</string>
		</dict>
		<dict>
			<key>createTime</key>
			<integer>1511147903000</integer>
			<key>id</key>
			<integer>21</integer>
			<key>platform</key>
			<string></string>
			<key>problem</key>
			<string>收入加速大宝典</string>
			<key>sort</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
			<key>updateTime</key>
			<integer>1511147903000</integer>
			<key>url</key>
			<string>http://index.yourmoli.com//newmoli/views/app/video/income.html</string>
		</dict>
		<dict>
			<key>createTime</key>
			<integer>1509357221000</integer>
			<key>id</key>
			<integer>20</integer>
			<key>platform</key>
			<string></string>
			<key>problem</key>
			<string>如何通过邀请好友赚钱？</string>
			<key>sort</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
			<key>updateTime</key>
			<integer>1510569151000</integer>
			<key>url</key>
			<string>http://index.yourmoli.com//newmoli/views/app/video/basicCourse.html</string>
		</dict>
	</array>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
