<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listGrade</key>
	<array>
		<dict>
			<key>gradeContent</key>
			<string>发帖数3个/天</string>
			<key>gradeImage</key>
			<string>http://moli2017.oss-cn-zhangjiakou.aliyuncs.com/file/GRADE_STORY_IMAGE_OPEN.png</string>
			<key>gradeNum</key>
			<integer>1</integer>
			<key>gradeStatus</key>
			<string>1</string>
			<key>gradeTitle</key>
			<string>Lv.1开启</string>
			<key>rightsNum</key>
			<string>3</string>
			<key>rightsType</key>
			<string>story</string>
		</dict>
		<dict>
			<key>gradeContent</key>
			<string>发帖数5个/天</string>
			<key>gradeImage</key>
			<string>http://moli2017.oss-cn-zhangjiakou.aliyuncs.com/file/GRADE_STORY_IMAGE_OPEN.png</string>
			<key>gradeNum</key>
			<integer>4</integer>
			<key>gradeStatus</key>
			<string>1</string>
			<key>gradeTitle</key>
			<string>Lv.4开启</string>
			<key>rightsNum</key>
			<string>5</string>
			<key>rightsType</key>
			<string>story</string>
		</dict>
		<dict>
			<key>gradeContent</key>
			<string>主动发送私信</string>
			<key>gradeImage</key>
			<string>http://moli2017.oss-cn-zhangjiakou.aliyuncs.com/file/GRADE_SEND_MSG_OPEN.png</string>
			<key>gradeNum</key>
			<integer>5</integer>
			<key>gradeStatus</key>
			<string>1</string>
			<key>gradeTitle</key>
			<string>Lv.5开启</string>
			<key>rightsNum</key>
			<string>0</string>
			<key>rightsType</key>
			<string>send_msg</string>
		</dict>
		<dict>
			<key>gradeContent</key>
			<string>发帖数10个/天</string>
			<key>gradeImage</key>
			<string>http://moli2017.oss-cn-zhangjiakou.aliyuncs.com/file/GRADE_STORY_IMAGE_OPEN.png</string>
			<key>gradeNum</key>
			<integer>7</integer>
			<key>gradeStatus</key>
			<string>1</string>
			<key>gradeTitle</key>
			<string>Lv.7开启</string>
			<key>rightsNum</key>
			<string>10</string>
			<key>rightsType</key>
			<string>story</string>
		</dict>
		<dict>
			<key>gradeContent</key>
			<string>发帖数15个/天</string>
			<key>gradeImage</key>
			<string>http://moli2017.oss-cn-zhangjiakou.aliyuncs.com/file/GRADE_STORY_IMAGE_CLOSE.png</string>
			<key>gradeNum</key>
			<integer>9</integer>
			<key>gradeStatus</key>
			<string>0</string>
			<key>gradeTitle</key>
			<string>Lv.9开启</string>
			<key>rightsNum</key>
			<string>15</string>
			<key>rightsType</key>
			<string>story</string>
		</dict>
		<dict>
			<key>gradeContent</key>
			<string>发帖数20个/天</string>
			<key>gradeImage</key>
			<string>http://moli2017.oss-cn-zhangjiakou.aliyuncs.com/file/GRADE_STORY_IMAGE_CLOSE.png</string>
			<key>gradeNum</key>
			<integer>11</integer>
			<key>gradeStatus</key>
			<string>0</string>
			<key>gradeTitle</key>
			<string>Lv.11开启</string>
			<key>rightsNum</key>
			<string>20</string>
			<key>rightsType</key>
			<string>story</string>
		</dict>
		<dict>
			<key>gradeContent</key>
			<string>提现优先审核</string>
			<key>gradeImage</key>
			<string>http://moli2017.oss-cn-zhangjiakou.aliyuncs.com/file/GRADE_DEPOSIT_CLOSE.png</string>
			<key>gradeNum</key>
			<integer>15</integer>
			<key>gradeStatus</key>
			<string>0</string>
			<key>gradeTitle</key>
			<string>Lv.15开启</string>
			<key>rightsNum</key>
			<string>deposit_first</string>
			<key>rightsType</key>
			<string>deposit</string>
		</dict>
	</array>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
